<!doctype html>
◊(require '[expressions.constants :refer [lang site-title]])
<html lang="◊lang">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>◊site-title</title>
    <link rel="stylesheet" href="/style.css" />
    ◊(require '[expressions.meta :refer [locals]]) ◊('head (locals))
  </head>
  <body>
    ◊content ◊(if-let [port flower.reflect/*watch-port*])«
    <script src="http://localhost:◊(print-str port)/livereload.js"></script>
    »
  </body>
</html>
