<!doctype html>
◊(require '[expressions.constants :refer [lang site-title]])
<html lang="◊lang">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>◊site-title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/components.css" />
    <link rel="stylesheet" href="/layout.css" />
    <link rel="stylesheet" href="/utilities.css" />
    <link rel="stylesheet" href="/base.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Corben&family=Tenor+Sans&display=swap"
      rel="stylesheet"
    />
    ◊(require '[expressions.meta :refer [locals]]) ◊('head (locals))
  </head>

  <body>
    ◊content ◊(if-let [port flower.reflect/*watch-port*])«
    <script src="http://localhost:◊(print-str port)/livereload.js"></script>
    »
  </body>
</html>
